* {
  background-color: #F0F2F5;
  padding: 0;
  margin: 0;
}

.container{
display: grid;
grid-template: 56px 400px 350px/ 1fr 1fr 1fr;
margin:0 auto;
grid-template-areas: "header header header"
                     "img-container1 img-container2 img-container3";
}
.img-container1,
.img-container2,
.img-container3 {
  margin-top: 25px;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #000; 
  margin-left: 5px;
}
center{
  background-color: #ffffff;
}

/* estilos generales para las imágenes */
.img-item {
  border: 1px solid #000; 
  margin: 10px;
  padding: 10px;
  text-align: center; /* Centra el contenido */
}

#item {
  margin-top: 20px; 
}


.header{
width: 100%;
height: 500px;
font-family: Verdana, Arial, Helvetica, sans-serif;
grid-area: header;

text-align: center; 
}
.nav {
display: flex;
justify-content: space-between; 
background-color: #FFFFFF;
}
ul{
list-style: none;
}
.nav li span{
background-color: #FFFFFF;
color: #0866FF;
text-decoration: none;
padding: 10px 15px;
display: block;

}
.nav li span:hover{
background-color: #F0F2F5;
cursor: pointer;
}
.nav > li{
float: left;


}
.nav ul li label{
background-color: black;
color: white;
padding: 10px 15px;

}
.nav li ul{
display: none;
position: absolute;
min-width: 160px;




}
.nav li:hover > ul{
display: block;
}
.nav li ul li{
position: relative;
}
.nav li ul li ul{
right: -160px;
top: 0;
}
.im-container1{
grid-area: img-container1;
}
.im-container2{
grid-area: img-container2;
}
.im-container3{
grid-area: img-container3;
}
.im-container4{
grid-area: img-container4;
}
.im-container5{
grid-area: img-container5;
}
.im-container6{
grid-area: img-container6;
}
output li{
font-size: 10px;
}
#color{
padding: 2px 20px;
background-color: black;
}
/* Oculta el input original */
/* Oculta el input original */
.file-input {
  display: none;
}

/* Estilo para el botón personalizado */
.file-button {
  display: inline-block;
  padding: 8px 12px;
  background-color: #1877F2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px; /* Ajusta la distancia hacia abajo */
  border: 1px solid #000000;
  margin-left: 5px; /* Ajusta la sangría  */
}
.file-button:hover {
  background-color: #45a049; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}

/* Estilo para el contenedor */
.file-input-wrapper {
  position: relative;
  display: inline-block;
  background-color: #FFFFFF;
  width: 200px; /* Ajusta el ancho según sea necesario */
  height: 50px; /* Ajusta la altura según sea necesario */
  border: 1px solid #000000;
  margin-top: 10px; 
  margin-bottom: 20px; /* Ajusta la separación hacia abajo según sea necesario */
}

/* Estilo para el texto que muestra el nombre del archivo seleccionado */
.file-name {
  margin-top: 8px;
  color: #000000;
  background-color: #FFFFFF;
}
